OutputFiles/
src/html/
src/latex/
*.DS_Store
*.o
/MolSim
doxy/
.settings/
*.layout
*~
*.*~
*.exe
*.stackdump
doxys_documentation/
src/utils/simulationConfig.h
src/utils/simulationConfig.cpp
src/outputWriter/vtk-unstructured.cpp
src/outputWriter/vtk-unstructured.h
Default/
*.state
